// -------------------------------------------------------------------
// :: BREAKPOINTS
// -------------------------------------------------------------------
$screen-xs: 480px;
$screen-sm: 720px;
$screen-md: 992px;
$screen-lg: 1200px;

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: $screen-xs,
  // Medium screen / tablet
  md: $screen-sm,
  // Large screen / desktop
  lg: $screen-md,
  // Extra large screen / wide desktop
  xl: $screen-lg
);