// -------------------------------------------------------------------
// :: BOX SHADOWS
// -------------------------------------------------------------------
$box-shadow: 0 8px 24px rgba(15, 17, 21, 0.16);
$box-shadow-large: 0 16px 32px rgba(15, 17, 21, 0.1);
$box-shadow-subtle: 0 0 6px rgba(15, 23, 42, 0.11);
