<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-splitButton label="Vogels" [model]="birdItems" class="button-toolbar" ></p-splitButton>
        <p-splitButton label="Eigenaars" [model]="ownerItems" class="button-toolbar"></p-splitButton>
        <p-splitButton label="Kwekers" [model]="breederItems" class="button-toolbar"></p-splitButton>
        <p-splitButton label="Koppels" [model]="coupleItems" class="button-toolbar"></p-splitButton>
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button label="Uitloggen" icon="pi pi-sign-out" [routerLink]="['/signout']"></p-button>
    </div>
</p-toolbar>

<router-outlet></router-outlet>