<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-splitButton label="Vogels" (onClick)="navigateToPage('/birds')" [model]="birdItems" class="button-toolbar" ></p-splitButton>
        <p-splitButton label="Eigenaars" (onClick)="navigateToPage('/owners')" [model]="ownerItems" class="button-toolbar"></p-splitButton>
        <p-splitButton label="Kwekers" (onClick)="navigateToPage('/breeders')" [model]="breederItems" class="button-toolbar"></p-splitButton>
        <p-splitButton label="Koppels" (onClick)="navigateToPage('/couples')" [model]="coupleItems" class="button-toolbar"></p-splitButton>
    </div>
    
    <div class="p-toolbar-group-right">
        <p-button label="Uitloggen" icon="pi pi-sign-out" [routerLink]="['/signout']"></p-button>
    </div>
</p-toolbar>

<router-outlet></router-outlet>