:host ::ng-deep .is-dead {
    td p {
        color: red;
    }
}

:host ::ng-deep {
    &tr:nth-child(even) {
        background-color: #f7f7f7;
    }

    tr td p{
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.ringnumber {
    overflow-wrap: break-word;
}
