<div class="card">
    <p-table #dt1 [value]="couples" dataKey="id" *ngIf="!(loading$ | async)"
        [rows]="25" [showCurrentPageReport]="true" styleClass="p-datatable-customers p-datatable-gridlines"
        [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <span class="p-input-icon-left" style="margin-left: 20px;">
                    <i class="pi pi-search"></i>
                    <input type="text" pInputText placeholder="Zoek Koppel" />
                </span>
            </div>
            
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Koppel naam
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Gestart op
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Vader 
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Moeder
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Kotnummer
                    </div>
                </th>
                <th>
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Edit
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-couple>
            <tr>
                <td>
                    <p>{{couple.name}}</p>
                </td>
                <td>
                    <p>{{couple.startedAt}}</p>
                </td>
                <td>
                    <p>{{couple.fatherRingNumber}}</p>
                </td>
                <td>
                    <p>{{couple.motherRingNumber}}</p>
                </td>                
                <td>
                    <p>{{couple.cageNumber}}</p>
                </td>
                <td>
                    <button pButton pRipple type="button" label="Details" class="detail-button" style="margin-left: 5px;" routerLink="/couples/detail/{{couple.id}}"></button>
                    <!-- <button pButton pRipple type="button" label="Verwijder" class="p-button-danger" style="margin-left: 5px;" (click)="DeleteCouple(couple.id)"></button> -->
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">Geen koppel gevonden.</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="p-mt-4">
        <c-loader *ngIf="loading$ | async"></c-loader>
    </div>
</div>