<div class="page">
    <div class="page-wrapper">
        <div class="page-header">
            <h1>Bird management</h1>
        </div>
        <div class="page-body">
            <form [formGroup]="birdForm">
                <h2>Vogel aanmaken</h2>
        
                <div class="form-group">
                    <label for="ringNumber">Ringnummer</label>
                    <input pInputText type="text" class="form-control" formControlName="ringNumber" id="ringNumber" placeholder="XX123456789XX">
                </div>
        
                <div class="form-group">
                    <label for="gender">Geslacht</label>
                    <input pInputText type="text" class="form-control" formControlName="gender" id="gender" placeholder="">
                </div>
        
                <div class="form-group">
                    <label for="birdType">Type</label>
                    <input pInputText type="text" class="form-control" formControlName="birdType" id="birdType" placeholder="" >
                </div>

                <!-- TODO OTHERS -->
                <div class="form-group">
                    <label for="birthDate">Jaartal</label>
                    <input pInputText type="text" class="form-control" formControlName="birthDate" id="birthDate" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Kleur</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Kotnummer</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Kweker</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Eigenaar</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Omschrijving</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Dood</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>

                <div class="form-group">
                    <label for="phoneNumber">Jong</label>
                    <input pInputText type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber" placeholder="+324........">
                </div>
        
                <div class="form-footer">
                    <button pButton type="button" class="p-button-outlined" (click)="goBack()" label="Terug"></button>
                    <button pButton type="submit" (click)="onSubmit()" [disabled]="!birdForm.valid" label="Opslaan"></button>
                </div>
            </form>
        </div>
    </div>
</div>