<div class="page">
    <div class="page-wrapper">
        <div class="page-header">
            <h1>Couple management</h1>
        </div>
        <div class="page-body">
            <form [formGroup]="coupleForm" *ngIf="coupleForm && !(loading$ | async)">
                <h2>Koppel bewerken</h2>
                <div class="grid">
                    <div class="p-d-flex p-flex-column p-col-3">
                        <label for="name">Koppel naam</label>
                        <input pInputText type="text" class="form-control" formControlName="name" id="name">
                    </div>

                    <div class="p-d-flex p-jc-between">
                        <div class="p-d-flex p-flex-column p-col-3">
                            <label for="startedAt">Gestart op</label>
                            <input pInputText type="date" class="form-control" formControlName="startedAt" id="startedAt">
                        </div>

                        <div class="p-d-flex p-flex-column p-col-3">
                            <label for="cageNumber">Kotnummer</label>
                            <input pInputText type="text" class="form-control" formControlName="cageNumber" id="cageNumber">
                        </div>
                    </div>
                    <div class="p-d-flex p-jc-between couple-parents">
                        <div class="p-d-flex p-flex-column p-col-4">
                            <label for="father">Vader</label>
                            <input pInputText type="text" class="form-control" formControlName="father" id="father">
                        </div>
                        <div class="p-d-flex p-ai-center p-jc-center p-col-4"><i class="pi pi-minus p-mt-4"></i></div>
                        <div class="p-d-flex p-flex-column p-col-4">
                            <label for="mother">Moeder</label>
                            <input pInputText type="text" class="form-control" formControlName="mother" id="mother">
                        </div>
                    </div>

                    <div class="p-d-flex p-flex-column p-col-4">
                        <label for="description">Omschrijving</label>
                        <input pInputTextarea type="text" class="form-control" formControlName="description" id="description">
                    </div>
                </div>

                <div class="form-footer">
                    <button pButton type="button" class="p-button-outlined" (click)="goBack()" label="Terug"></button>
                    <button pButton type="submit" (click)="onSubmit()" [disabled]="!coupleForm.valid" label="Opslaan"></button>
                </div>
            </form>

            <!-- Bird eggs -->
            <div class="birdeggs p-mt-5" *ngIf="couple?.birdEggs">
                <p-table #dt1 [value]="couple?.birdEggs" dataKey="id"
                [rows]="10" [showCurrentPageReport]="true" styleClass="p-datatable-customers p-datatable-gridlines"
                [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-jc-end">
                        <button pButton pRipple type="button" label="Ei toevoegen" icon="pi pi-plus" class="detail-button" style="margin-left: 5px;" (click)="openModal(couple.id)"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Datum gelegd
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Datum uitgekomen
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Ringnummer
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Datum uitgevlogen
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Kleur
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Geslacht
                            </div>
                        </th>
                        <th>
                            <div class="p-d-flex p-jc-between p-ai-center">
                                Opties
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-egg>
                    <tr>
                        <td>
                            <p>{{egg.layedOn | date: 'dd/MM/yyyy' }}</p>
                        </td>
                        <td>
                            <p>{{egg.cameOutOn | date: 'dd/MM/yyyy' }}</p>
                        </td>
                        <td>
                            <p>{{egg.ringNumber}}</p>
                        </td>
                        <td>
                            <p>{{egg.flyOutOn | date: 'dd/MM/yyyy' }}</p>
                        </td>
                        <td>
                            <p>{{egg.color }}</p>
                        </td>
                        <td>
                            <p>{{ egg.gender === 'FEMALE' ? 'POP' :
                                  egg.gender === 'MALE' ? 'MAN' :
                                  ''
                            }}</p>
                        </td>
                        <td>
                            <button pButton pRipple type="button" label="" icon="pi pi-pencil" class="detail-button" style="margin-left: 5px;" (click)="openUpdateModal(egg.id, couple.id)" [disabled]="egg.birdId"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Geen ei gevonden.</td>
                    </tr>
                </ng-template>
            </p-table>
            </div>
            <div class="p-mt-4">
                <c-loader *ngIf="loading$ | async"></c-loader>
            </div>
        </div>
    </div>
</div>