// ============================================================================
// :: COLOR UTILS
// ============================================================================
.u-color-tuna-gray-80 {
	color: var(--tuna-gray-80-color);
}

.u-color-primary {
	color: var(--primary-color) !important;
}

.u-color-error {
	color: var(--danger-color) !important;
}

.u-color-success {
	color: var(--success-color) !important;
}
