// -------------------------------------------------------------------
// :: Image
// -------------------------------------------------------------------
.u-image {
	width: 100%;
	object-fit: cover;
	max-height: rem(300px);

	border-radius: $border-radius-lg;
}
