// ============================================================================
// :: LAYOUT UTILS
// ============================================================================
.u-fill-w {
	width: 100%;
}

.u-fill-h {
	height: 100%;
}

.u-max-w-readable {
	max-width: 100ch;
}

.u-max-w-form {
	max-width: rem(400px);
}

.u-min-80vh {
	min-height: 80vh;
}
