// -------------------------------------------------------------------
// :: List
// -------------------------------------------------------------------
.u-list--bordered {
	li {
		border-top: $border;

		&:last-child {
			border-bottom: $border;
		}
	}
}

.u-list--spacing {
	li {
		& + li {
			margin-top: rem(12px);
		}
	}
}

.u-list--checkmark {
	list-style: none !important;
	margin-left: 0 !important;

	li {
		background: var(--checkmark-icon) no-repeat left 3px;
		padding: 0 0 0 24px;

		& + li {
			margin-top: rem(8px);
		}
	}
}
